.create-event-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:space-around;
    padding: 20px 100px; 
    box-sizing: border-box;

}

.create-event-card {
    background: white;
    border: 4px solid black;
    padding: 2rem 5rem;     
    box-shadow: 8px 8px 0px black;
    width: fit-content;
    height: auto;     
    border-radius: 4px; 
}

.create-event-card h1 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.2rem;
    border-bottom: 4px solid black;
    display: inline-block;
    padding-bottom: 5px;
}

.event-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
}

.event-form-group label {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}


.event-form-group input, 
.event-form-group textarea, 
.event-form-group select {
    padding: 12px;
    border: 3px solid black;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    background: white;
    border-radius: 4px;
}

.event-form-group textarea {
    min-height: 100px;
    resize: vertical; 
}

.event-form-group input:focus, 
.event-form-group select:focus {
    background: #f0f0f0;
}


.submit-event-btn {
    width: 100%;
    padding: 18px;
    background: white; 
    border: 3px solid black;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 6px 6px 0px black;
    transition: all 0.1s;
    margin-top: 10px;
    border-radius: 4px;
}

.submit-event-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px black;
    background: #FFCC00; 
    color: black;
}

.submit-event-btn:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px black;
}
