.event-details-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border: 4px solid black;
    box-shadow: 10px 10px 0px black;
    border-radius: 4px;
    font-size: 1.2rem;
}


.mock-actions {
    background: #ffdbdb;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.delete-btn {
    background: #ff4444;
    color: white;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}



.reviews-list {
    padding-left: 15px;
    margin-bottom: 20px;
} 

.review-individual {
    height: auto;     
    border-radius: 4px; 
}

