/* Centers the search bar items */



.search-form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.search-form input {
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px 0 0 4px; 
    outline: none;
    width: 300px;
    background-color: white;
}

.search-form button {
    padding: 12px 20px;
    border: 3px solid black;
    border-radius: 0 4px 4px 0; /* Rounded only on the right */
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.search-form button:hover {
    background: white;
    color: black;
    /* transition makes the color change smooth instead of a "snap" */
    transition: all 0.3s ease-in-out;
    transform: scale(1.10);
}